<?xml version="1.0"?><!--
  ~ Copyright (c) 2020. Victor Barcellos Lopes
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="webjump_action_observer" instance="Webjump\DependencyInjectionTopic\Observer\ActionPreDispatch" />
    </event>
</config>
