<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2020. Victor Barcellos Lopes
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <petkindcustomer>
            <general>
                <enabled>1</enabled>
            </general>
        </petkindcustomer>
    </default>
</config>
